@media screen and (max-width : 1200px) {
    h1 {
        /* word-break: break-all; */
    }
}


@media screen and (max-width : 800px) {

    .start{
        display: none;
    }

    .tout {
        visibility: visible;
    }

    .bookRight {
        width: 100%;
    }

    .foldleft,
    .bookLeft {
        display: none !important;
    }

    .foldright {
        width: 100%;
    }

    h1 {
        /* word-break: break-all; */
    }

    .header {
        display: none;
        flex-direction: row;
        z-index: 1000;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    .header div {
        height: 30px;
        width: calc(100% / 3);
        writing-mode: horizontal-tb;
        border-radius: 10px 10px 0 0;
        padding: 0 var(--space-s);
        justify-content: center;
    }

    .book {
        display: flex;
        margin-left: 0px;
        width: calc(100% - 0px - 100px);
    }

    .bookmarksOff {
        position: absolute;
        top: 0;
        left: 0px;
        background-color: var(--color-white);
        width: 50px;
        height: 100%;
    }

    .book-3-4 {
        width: calc(100% - 15px - 80px) !important;
        margin-left: 15px !important;
    }

    .book-2-4 {
        width: calc(100% - 30px - 50px) !important;
        margin-left: 30px !important;
    }

    .book-1-4 {
        width: calc(100% - 45px - 30px) !important;
        margin-left: 45px !important;
    }

    .book-Full {
        width: calc(100% - 60px - 0px) !important;
        margin-left: 60px !important;
    }


    .reduireBook-3-4 {
        width: calc(100% - 120px) !important;
        transition: var(--trans-quick);
    }

    .reduireBook-2-4 {
        width: calc(100% - 105px) !important;
        transition: var(--trans-quick);
    }

    .reduireBook-1-4 {
        width: calc(100% - 90px) !important;
        transition: var(--trans-quick);
    }

    .reduireBook-Full {
        width: calc(100% - 60px) !important;
        transition: var(--trans-quick);
    }


    .ampliarBook-Full {
        width: calc(100% - 65px - 0px) !important;
        margin-left: 65px !important;
        transition: var(--trans-quick);
    }

    .ampliarBook-1-4 {
        width: calc(100% - 50px - 30px) !important;
        margin-left: 50px !important;
        transition: var(--trans-quick);
    }

    .ampliarBook-2-4 {
        width: calc(100% - 35px - 50px) !important;
        margin-left: 35px !important;
        transition: var(--trans-quick);
    }

    .ampliarBook-3-4 {
        width: calc(100% - 20px - 80px) !important;
        margin-left: 20px !important;
        transition: var(--trans-quick);
    }


}