@import url(variables.css);
@import url(utility.css);
@import url(options.css);
@import url(parties.css);
@import url(../fonts/fonts.css);

html {
    text-rendering: optimizeLegibility;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth !important;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

::selection {
    color: var(--color-white);
    background-color: orangered;
}


body {
    font-family: var(--ff-text);
    background-color: #3e3e3e;
    color: var(--color-black);
    margin: 0;

    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    font-weight: 400;

    scroll-behavior: smooth;
}

a,
a:active,
a:visited,
a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    word-break: break-all;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

button a {
    text-decoration: none !important;
}

a button {
    color: inherit;
    text-decoration: none;
    text-decoration-style: none;
    word-break: normal;
    display: flex;
}

button {
    border-radius: var(--border-m);
    border: 1px dashed white;
    background-color: transparent;
    padding: var(--space-s);
    transition: var(--trans-quick);
    /* box-shadow: inset 0px 0 20px -10px var(--color-white); */
    color: var(--color-black);
    text-transform: unset;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    background-color: #e8e6e291;
    transition: var(--trans-quick);
    color: var(--color-black);
    /* border: 1px dashed var(--color-secondary-light); */


}

/******************* BOOK EFFECT *******************/

.tout {
    max-width: 1500px;
    margin: auto;
    position: relative;
    z-index: 99;
    visibility: hidden;
}

/******************* PAGES *******************/
.book {
    display: flex;
    margin-left: 30px;
    width: calc(100% - 30px - 100px);
    background-color: var(--color-white);
    z-index: 10;
    position: relative;
    min-height: 100vh;

    transition: var(--trans-quick);
}

.book>main {
    padding: var(--space-xl);
    box-sizing: border-box;
    height: inherit;
}

.bookFolded {
    pointer-events: none;
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 50%;
    height: 100%;
}

.foldleft {
    box-shadow: 3px 0 26px 0 var(--color-shadow);
    position: absolute;
    border-radius: 12px 0 0 0;
}

.foldright {
    box-shadow: 3px 0 26px 0 var(--color-shadow);
    position: absolute;
    right: 0;
    border-radius: 0 12px 0 0;
}

.bookLeft {
    width: 50%;
    height: 100%;
    /* box-shadow: 0 0 30px 0 var(--color-shadow); */
}


.bookRight {
    width: 50%;
    height: 100%;
    /* box-shadow: 0 0 30px 0 var(--color-shadow); */
    z-index: 10;
}

.bookRight>div {
    /* position: absolute; */
}



/******************* PAGE *******************/
h1 {
    font-family: var(--ff-titles);
    font-size: var(--fs-titles);
    line-height: var(--lh-titles);

    text-transform: uppercase;


    margin: 0;
    margin-bottom: var(--space-l);
    font-weight: 400;
    text-align: center;
    /* box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5); */
    /*! border: 1px solid var(--color-black); */
    border-radius: var(--border-l);
    padding: var(--space-s);

    box-shadow: inset 0px 0 20px -10px black;
    /* word-break: normal; */
}

h2 {
    font-family: var(--ff-subtitles);
    font-size: var(--fs-big);
    line-height: var(--lh-big);

    margin: 0;
    padding: var(--space-xxl) 0 var(--space-l);
    text-align: center;
}

h3 {
    font-family: var(--ff-subtitles);
    font-size: var(--fs-middle);
    line-height: var(--lh-middle);

    margin: 0;
    padding: var(--space-m) 0;
    z-index: 99;

    text-transform: uppercase;

    border: 1px dashed var(--color-black);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-width: 1px 0 1px 0;
    margin-top: var(--space-xl);
    text-align: center;
    position: sticky;
    top: -1px;
    background-color: var(--color-white);
}

h4 {
    font-weight: 400;
    margin: var(--space-l) 0 0 0;
}

p {
    text-indent: 15px;

}

section {
    position: relative;
}

.pagePartie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: calc(100vh - var(--space-xl)*2); */
    padding-top: var(--space-xl);
    margin-top: calc(var(--space-xl) * -1);
}

.numPartie {
    /* font-family: var(--ff-titles); */
    font-size: 40px;
    line-height: var(--lh-titles);
    text-transform: uppercase;
    margin: 0 auto var(--space-l) auto;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    /*! background-color: var(--color-black); */
    /*! color: var(--color-white); */
    line-height: initial;
    /*! border: 1px solid black; */
    box-shadow: inset 0px 0 20px -10px black;
}

.titlesSticky {
    display: none;
    position: sticky;
    top: 0;
    z-index: 997;
    background-color: var(--color-white);
    padding: var(--space-m) 0;
    background: var(--color-white);
    background: linear-gradient(180deg, var(--color-white) 85%, rgba(255, 255, 255, 0) 100%)
}

.titlesSticky h1 {
    line-height: var(--lh-normal);
    margin-bottom: 0;
    border: none;
    font-size: var(--fs-normal);
    padding: 0;
    text-align: left;
    box-shadow: none;
}

.titlesSticky>h1>span {
    font-size: var(--fs-big);
    font-family: var(--ff-text);
}

.titlesSticky h2 {
    font-size: var(--fs-small);
    padding: 0;
    text-align: left;
    line-height: var(--lh-normal);
}

/******************* SOMMAIRE PARTIES *******************/
.start {
    position: fixed;
    z-index: 5;
    background-color: var(--thisColor);
    box-sizing: border-box;
    padding: 0 var(--space-xxl);
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    animation: 5s living ease-in-out infinite;

    /* display: none; */
    transition: var(--trans-quick);
}

@keyframes living {

    0% {
        border-radius: 0px;


    }

    50% {
        border-radius: 350px;

    }

    100% {
        border-radius: 0px;
    }

}

.inside {
    border-radius: 0px !important;
    background-color: var(--color-background) !important;
    transition: all 5s ease-in-out;
    color: transparent !important;
    animation: none !important;
}

.supertitleback {
    color: var(--color-white);
    opacity: 0.3;
}


.titleStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.titleStart p {
    /* font-family: var(--ff-citations); */
    color: var(--color-white);
    max-width: 750px;
    text-align: center;
    margin-bottom: 0;
    /* font-weight: 600; */
    letter-spacing: 0.4px;
}

#infoStart {
    font-size: var(--fs-middle);
    margin-bottom: var(--space-s);
    opacity: 0;
    text-align: center;
    line-height: var(--lh-middle);
    margin: var(--space-l) 0 0 0;
    color: white;
    position: absolute;
    top: var(--space-s);
}

#infoStart span {
    text-decoration: underline !important;
}


.titleStart p:nth-last-child(1) {
    position: absolute;
    bottom: var(--space-m);
    font-size: var(--fs-small);
    color: var(--color-white);
    border-radius: var(--border-m);
    background-color: transparent;
    padding: calc(var(--space-s)/2) calc(var(--space-s));
    font-weight: 400;
}

.display-infoStart {
    animation: 5s display05 ease-in-out infinite;
}

@keyframes display05 {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.buttonsStart {
    visibility: hidden;
    gap: var(--space-m);
    align-items: center;
}

.titleStart>div {
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

.supertitleback {
    font-size: var(--fs-titles);
    line-height: var(--lh-titles);
    font-family: monospace;
    /* word-break: break-all; */
}

.supertitlefront {
    z-index: 3;
    color: var(--color-white);

    position: absolute;
    font-size: var(--fs-titles);
    line-height: var(--lh-titles);
    background-color: transparent;
    font-family: monospace;
    padding: 0;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-shadow: 0 0 5px var(--color-white);
}

input:focus,
textarea:focus {
    outline: none;
}

.blinking-cursor {
    color: var(--color-white) !important;
    animation: 1s blink step-end infinite;
    position: absolute;
    font-size: var(--fs-titles);
    line-height: var(--lh-titles);
    transform: translate(-70%, -3px);
}

@keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/******************* CITATIONS *******************/
.citation {
    font-family: var(--ff-citations);
    padding: 0 var(--space-l);
    margin: var(--space-xl) 0 var(--space-xxl) 0;
    line-height: var(--lh-normal);
    font-size: var(--fs-middle);
    text-indent: 0 !important;
}

/******************* FOOTNOTE *******************/

sup {
    height: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-sup);
    text-indent: 0;
    background-color: transparent;
    color: var(--color-black);
    font-weight: 900;
}

.footnote sup {
    margin-right: 3px !important;
}



.footnote-anchor sup {
    margin-left: 3px !important;
}

.footnote-anchor span {
    border: 1px dashed transparent;
}



.footnote {
    width: calc(50% - var(--space-xl)*2);
    position: absolute;
    top: 0;
    background: transparent;
    border-radius: var(--border-s);
    border: 1px dashed transparent;
    padding: var(--space-s);
    box-sizing: border-box;
}

.footnote:hover {
    border: 1px dashed var(--color-secondary);
    cursor: pointer;
}



.footnote:hover img {
    filter: grayscale(0);
}

.footnote span {
    font-size: var(--fs-small);
    line-height: var(--lh-small);
    word-break: normal;
    /*! padding-top: var(--space-s); */
    display: block;
}

.footnote img {
    width: 100%;
    filter: grayscale(1);
    max-height: 300px;
    object-fit: contain;
    padding-bottom: var(--space-s);
}


/******************* FULL IMES *******************/

.footnote.fullFigure {
    height: 100vh;
    background-color: #000000d1;
    position: fixed;
    top: 0 !important;
    left: 0;
    width: 100vw;
    z-index: 10001;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: var(--space-xxl);
    /* box-shadow: inset 0 0 30px white; */
    text-align: center;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border: none;
    border-radius: 0;
}

.footnote.fullFigure img {
    max-height: 80%;
    max-width: 80%;
    filter: grayscale(0) !important;
}

.footnote.fullFigure span {
    font-size: var(--fs-normal) !important;
    line-height: var(--lh-normal);
    color: white;
}

.footnote.fullFigure sup {
    color: white;
    font-size: var(--fs-small) !important;
}

/******************* HIGHLIGHT *******************/

.highlight {
    border: 1px dashed var(--color-secondary);
}

.highlight img {
    filter: grayscale(0);
}

.highlight-text span {
    background-color: var(--color-highlight);
    color: black;
    border-radius: 5px;
}

/******************* PAGE SCROLLBAR *******************/
.scrollbar {
    height: 100%;
    width: 3px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-shadow: 0px 0px 17px hsl(0deg 0% 0% / 20%);
}

.progressbar {
    height: 0;
    width: 3px;
    background-color: hsl(0deg 0% 0% / 10%);
    border-radius: 50px;
}





.credits {
    background: transparent;
    border-radius: var(--border-s);
    border: 1px dashed var(--color-secondary);
    padding: var(--space-s);
    box-sizing: border-box;
    font-size: var(--fs-small);
    line-height: var(--lh-normal);
}