:root {
    --color-background: #202020;

    --space-s: 1vmax;
    --space-m: 2vmax;
    --space-l: 3vmax;
    --space-xl: 4vmax;
    --space-xxl: 5vmax;

    --ff-text: 'Uncut', sans-serif;
    --ff-titles: 'BIZ UDPMincho Regular';
    --ff-subtitles: 'BIZ UDPMincho Regular';
    --ff-citations: 'BIZ UDPMincho Regular';

    --fs-sup: 10px;

    --fs-small: 14px;
    --lh-small: 20px;

    --fs-middle: 16px;
    --lh-middle: 22px;

    --fs-normal: 20px;
    --lh-normal: 26px;

    --fs-big: 24px;
    --lh-big: 36px;

    --fs-titles: 42px;
    --lh-titles: 52px;


    --border-s: 5px;
    --border-m: 12px;
    --border-l: 20px;

    --trans-quick: all ease-in-out 0.2s;
    --trans-normal: all ease-in-out 0.8s;


    --color-white: white;
    --color-black: black;

    --color-secondary: #c4c2bc;
    --color-secondary-light: #e8e6e2;

    --color-highlight: yellow;

    --color-special-1: forestgreen;
    --color-special-2: orangered;
    --color-special-3: mediumslateblue;


    --color-shadow: black;
}